*{font-family:'Lato', sans-serif;}

.addcat_frm
{
	
	border-style:none;
	background-color:#ffffff;
	box-shadow: 0 10px 10px 0 rgb(0 0 0 / 10%);
	width:470px;
	margin:64px auto;
	padding: 27px 50px 32px;
}




#delete_btn
{
	height:32px;
	width:155px;
	background-color:#f4f4f4;
	color:black;
	border-style:none;
	border-radius:2px;	
	
}

#add_category
{
	height:32px;
	width:155px;
	background-color:#102B4E;
	color:white;
	font-size:15px;
	border-style:none;
	border-radius: 2px;
}

.addcat_frm input[type="text"]
{
	width: 80%;
	height: 40px;
	border: 1px black solid;
	border-radius:4px;
	font-size: 16px;
	padding: 0px 12px;
	
}

.addcat_frm select 
{
	width: 100%;
	height: 190px;
	border: 1px black solid;
	border-radius:4px;
	font-size: 16px;
	padding: 0px 12px;
	
}

#button_row
{
	display:flex;
	justify-content: space-between;
	
}
