*{font-family:'Lato', sans-serif;}

a:link, a:visited
{
	color:black;
	text-decoration:none;

}

#info
{
	width:1100px;
	overflow:auto;
	background-color:#ffffff;
	margin: auto;
	padding: 0px 30px;
}

#left
{
	float:left;
	width:200px;
	padding:5px;

}

#right
{
	float:left;
	padding:10px;	
	border-left:0.0625rem solid #efefef;
	width: 800px;

}



#title
{
    border-bottom: 0.0625rem solid #efefef;

}

#receipient_tel, #receipient_name, #receipient_address
{
	font-size: 12px;

}

#tracking_no
{
	color: grey;
	font-size: 14px;

}

#delivery_details
{
	width: 500px;
	margin: 0px 40px;
	font-size:14px;


}

a#sub
{
	font-size:14px;

}