body {background-color: #fff;}
h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}

.staff2 {
  text-align:left;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
  height: 700px;
  width:880px;
  margin:0 auto;
}

.staff-header {
  margin: 30px;
  font-style:Lucida Sans Typewriter;
  font-size:150%;
}

.staff1 {
  margin: 30px;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
  width:230px;
  height:480px;
  float:left;
}

.staff1 h5{
  font-style: italic;
  color: grey;
}

